* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url('/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'poppins', sans-serif;
}
.container{
    padding: 10px;
}
.banner{
    background-color: lightgray;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.image{
    width: 30px;
    height: 50px;
    margin: 30px;
}
.Up{
    padding-right: 100px;
    margin-top: 35px;
}
.navbar{
    margin-top: 40px;
       
}
.menu{
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;;
    border: black, none, 1px;
    font-size: 24px;
    }

.navbar a:hover{
    color: #4349d4;
    background-color: #ffffff; 
}
.box{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 100%;
    
    
}
.guest{
    margin-left: 0px;
    width: 30%;
    height: 450px;
    background-color: lightgray;
    border: black, solid, 1px;
    padding: 30px;
    background: rgba(211,211,211, 0.75);
    
}
.Welcome {
    width: 30%;
    height: 450px;
    background-color: lightgray;
    border: black, solid, 1px;
    padding: 30px;
    margin-left: 50px;
    background: rgba(211,211,211, 0.75);
}
.Stay {
    width: 30%;
    height: 450px;
    background-color: lightgray;
    border: black, solid, 1px;
    padding: 30px;
    margin-left: 50px;
    background: rgba(211,211,211, 0.75);
}
.h2{
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}
.vector{
    height: 70px;
    width: 90px;
    padding: 10px;
    margin-left: 35%;
}
.notes{
    line-height: 200%;
    font-size: 20px;
}
.tempus{
    text-decoration: none;
}
.icons{
    margin-top: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    
}
.icon{
   width: 30px;
    height: 30px; 
    margin-right: 10px;
    padding: 10px;
    background-color: lightgray;
    border: black, solid, 1px;
    margin-bottom: 10px;
}
.footnote{
    color: white;
    background-color: dimgray;
    padding: 20px;
    width: 45%;
    font-stretch: semi-expanded;
    font-size: 26px;
    background: rgba(211, 211, 211, 0.247);
}